#login_form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: left;
  margin: 10px auto;
  width: 300px;
  padding: 20px;
  background: white;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 0 0 20px #eee;
}

button {
      margin: 10px auto;
      padding: 10px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: black;
      border-radius: 10px;
      display: block;
  }

.input_infor {
  max-width: 100%;
  height: 30px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.container {
    text-align: center;
}