body {
    background: pink;
}


.anonymous {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    text-align: center;
    width: 300px;
    margin: 50px auto;
    background-color: #333;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}


.auth_btn_container {
  display: flex;
  flex-direction: row;
  margin: 20px auto;
}


.auth_btn {
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  border-radius: 10px;
  display: block;
  font-weight: bold;
  margin: 10px;
}


.auth_btn a {
  color: black;
  font-weight: bold;
}


.auth_btn:hover {
  box-shadow: 0 0 20px #eee;
}


#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.menu {
    float: left;
  }
  
.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
.menu a:hover {
    background-color: white;
    color: black;
  }

h1 {
    color: black;
    margin-top: 100px;
}

.pack_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 100px;
}

.package {
  background-color: #333;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 10px;
  font-weight: bold;
  width: 50%;
}

.package a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.add_btn {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.add_btn a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


.add_btn:hover {
  box-shadow: 0 0 20px #eee;
}

.product_container {
  display: flex;
  flex-direction: row;
  margin: 10px auto;
  background-color: #333;
  justify-content: space-around;
}


.product_info {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  background-color: pink;
  color: black;
  font-weight: bold;
  margin: 20px auto;
  justify-content: space-around;
}


.product_info:hover {
  box-shadow: 0 0 20px #eee;
}

.exchange_btn {
  background-color: #333;
  color: black;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid black;
  margin: 10px auto;
  font-weight: bold;
}


.exchange_btn a {
  color: white;
  font-weight: bold;
}


.exchange_btn:hover {
  box-shadow: 0 0 20px #eee;
}

.add_product {
  display: flex;
  flex-direction: column;
  background-color: #333;
  width: 400px;
  color: white;
  border: 1px solid black;
  border-radius: 10px;
  justify-content: space-between;
  margin: 10px auto;
}


.input_product_info {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}


.add_product_btn {
  background-color: pink;
  color: black;
  text-transform: uppercase;
  border-radius: 10px;
  border: 2px solid black;
  margin: 5px 70px;
  font-weight: bold;
}

.add_product_btn a {
  font-weight: bold;
}

.add_product_btn:hover {
  box-shadow: 0 0 20px #eee;
}

.back_btn {
  background-color: #333;
  border-radius: 10px;
}

.back_btn a {
  color: white;
  font-weight: bold;
}

.profile_container {
  display: flex;
  flex-direction: column;
  background-color: #333;
  color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.profile_personal_info {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}


.personal_info_block {
  width: 50%;
}

.update_profile_btn {
  margin-top: 30px;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}


.update_profile_btn:hover {
  box-shadow: 0 0 20px #eee;
}


.update_profile_btn a {
  color: white;
  font-weight: bold;
}


.update_personal_info_block {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
}

.update_info_input {
  margin: 10px;
}


#register_form {
  display: flex;
  flex-direction: column;
  justify-items: center;
  text-align: left;
  margin: 50px auto;
  width: 300px;
  padding: 20px;
  background: #333;
  border-radius: 30px;
  border: 2px solid black;
  box-shadow: 0 0 20px #eee;
  color: white;
}


#register_form a {
color: white;
font-weight: bold;
}


.input_regis {
max-width: 100%;
height: 30px;
border-radius: 10px;
margin-bottom: 10px;
margin-top: 10px;
}

.login_button {
margin: 10px auto;
padding: 10px 45px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: black;
border-radius: 10px;
display: block;
font-weight: bold;
}


#login_form {
display: flex;
flex-direction: column;
justify-items: center;
text-align: left;
margin: 50px auto;
width: 300px;
padding: 20px;
background: #333;
border-radius: 30px;
border: 2px solid black;
box-shadow: 0 0 20px #eee;
color: white
}

#login_form a {
color: white;
font-weight: bold;
}


.input_infor {
max-width: 100%;
height: 30px;
border-radius: 10px;
margin-bottom: 10px;
margin-top: 10px;
}


.container {
text-align: center;
}

.error_notify {
color: white;
background-color: #333;
width: 500px;
height: 30px;
border-radius: 10px;
padding-top: 5px;
}