{% extends 'base.html' %} {% block content%}
<center><h2 style="color: black">LOGIN</h2></center>
{% if error %}
<center><p class="error_notify">{{ error }}</p></center>
{% endif %}
<form id="login_form" action="" method="POST">
  {% csrf_token %}
  <label for="username"><b>USERNAME</b></label>
  <input
    class="input_infor"
    type="text"
    placeholder="Enter Username"
    name="username"
    required
  />

  <label for="password"><b>PASSWORD</b></label>
  <input
    class="input_infor"
    type="password"
    placeholder="Enter Password"
    name="password"
    id="password"
    required
  />

  <left
    ><span
      ><input type="checkbox" onclick="showpassword()" />Show password</span
    ></left
  >
  <button class="login_button" type="submit">Login</button>
  <center>
    <span>Forgot <a href="#">password?</a></span>
  </center>
  <center><a href="/auth/register">Register?</a></center>
</form>

<script>
  function showpassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>

{% endblock %}
